html {
    height: 100%;
}
body {
    height: 85%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(rgb(101, 230, 226), #b8e591);
}

.main-container {
    
    margin: auto;
    display: block;
    text-align: center;
}

.heading {
    margin-top: 5rem;
}

.label {
    display: block;
    font-size: 1.5rem;
}

.input {
    margin: 1rem auto;
    display: block;
    text-align: center;
    width: 14rem;
    height: 2rem;
    border: 2px solid;
   
    font-size: 1rem;
    padding: 0.3rem;
}

#check-number {
   
    border: 2px solid black; 
    padding: 0.7rem;
    font-size: 1rem;
    background-color: #9297E2;
    font-weight: bold;
    margin: 1rem;
}

#output {
    font-size: 1.5rem;
    margin-top: 1rem;
} 

.footer {
    text-align: center;
}

.footer-head {
    font-size: 1.2rem;
}

ul {
    padding-inline-start: 0rem;
}

.links {
    display: inline;
    padding: 0.5rem;
}